body{
    background-color: pink;
}

#heading{
    color: blue;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: cadetblue;
}

.colorbox{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(178, 243, 0);
}